@font-face{
    font-family: 'Merriweather_24pt-Regular';
    src: url(../fonts/static/Merriweather_24pt-Regular.ttf) format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather_24pt-Regular';
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
}
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#center_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    white-space: nowrap;
    z-index: 90;
    text-align: center;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 1), 0 0 4px rgba(0, 0, 0, 0.9); 
    border-radius: 25px;
    padding: 15px;
}
h3.center_text_heading{
    font-size: 45px;
    font-weight: 400;
    text-shadow: 3px 3px black, 2px 2px 4px rgba(0, 0, 0, 0.9), 0 0 8px rgba(0, 0, 0, 0.7);
}
p.center_text_subheading{
    font-size: 20px;
    padding-top: 25px;
    text-shadow: 3px 3px black, 2px 2px 4px rgba(0, 0, 0, 0.9), 0 0 8px rgba(0, 0, 0, 0.7);
}
a.signup_button{
    font-weight: 600;
    text-decoration: none;
    color: black;
    text-shadow: none;
    display: inline-block;
    margin: 25px;
    padding: 10px 20px;
    border: 3.5px solid white;
    background-color: white;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}
a.signup_button:hover{
    background-color: #337418;
    color: white;
    border-color: white;
}
